*{
    background: burlywood;
}
.table{
    padding-left: 100px;
}
.white{
    width: 30px;
    height: 30px;
    background-color: white;
}
.black{
    width: 30px;
    height: 30px;
    background-color: black;
}
.nothing{
    background: burlywood;
}